<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
    rel="stylesheet"
    href="calculadora.css"
  />
  </head>
  <body>
    <div id="app">
      <div class="container-fluid row">
        <div class="col-md-2"></div>
        <div class="card col-md-8 col-12">
          <div class="card-img-top">
            <h1>Calculadora sueldos netos</h1>
          </div>
          <div class="card-body">
            <h2>Datos generales y situación laboral</h2>
            <div>
              <label for="bruto_anual">Sueldo bruto anual</label>
              <input
                v-model="bruto_anual"
                id="bruto_anual"
                name="bruto_anual"
                type="number"
                min="0"
              />
            </div>
            <div>
              <label for="situacion_familiar">Situación familiar</label>
              <select
                id="situacion_familiar"
                name="situacion_familiar"
                v-model="situacion_familiar"
              >
                <option value="A"
                  >Soltero, viudo, divorciado o separado con hijos a
                  cargo</option
                >
                <option value="B"
                  >Casado y cuyo cónyuge no obtiene rentassuperiores a 1.500
                  euros anuales</option
                >
                <option value="C"
                  >Otros. Soltero sin hijos, casado con o sin hijos y con
                  cónyuge con rentas superiores a 1.500 euros al año</option
                >
              </select>
            </div>
            <div>
              <label for="tipo_contrato_laboral"
                >Tipo de contrato laboral</label
              >
              <select
                id="tipo_contrato_laboral"
                name="tipo_contrato_laboral"
                v-model="tipo_contrato_laboral"
              >
                <option value="0">General</option>
                <option value="1">Duración inferior a doce meses</option>
              </select>
            </div>
            <div>
              <label for="categoria_profesional"
                >* Si es un trabajador en activo, indique su categoría
                profesional</label
              >
              <select
                id="categoria_profesional"
                name="categoria_profesional"
                v-model="categoria_profesional"
              >
                <option value="A">Ingenieros y Licenciados</option>
                <option value="B"
                  >Ingenieros Técnicos, Peritos y AyudantesTitulados</option
                >
                <option value="C">Jefes Administrativos y de Taller</option>
                <option value="D">Ayudantes no Titulados</option>
                <option value="E">Oficiales Administrativos</option>
                <option value="F">Subalternos</option>
                <option value="G">Auxiliares Administrativos</option>
                <option value="H">Oficiales de primera y segunda</option>
                <option value="I">Oficiales de tercera y Especialistas</option>
                <option value="J">Peones</option>
                <option value="K"
                  >Trabajadores menores de dieciocho años, cualquiera</option
                >
              </select>
            </div>
            <div>
              <label for="numero_pagas">Número de pagas</label>
              <select
                id="numero_pagas"
                name="numero_pagas"
                v-model="numero_pagas"
              >
                <option value="12">12</option>
                <option value="14">14</option>
              </select>
              <div v-if="14 == numero_pagas">Pagas extras (x2)</div>
            </div>
            <div>
              <label for="edad">Edad</label>
              <input id="edad" name="edad" type="text" v-model="edad" />
            </div>
            <div class="row">
              <label class="col-8" for="movilidad_geografica"
                >Movilidad geográfica</label
              >
              <input
                class="col-4"
                id="movilidad_geografica"
                name="movilidad_geografica"
                type="checkbox"
                v-model="movilidad_geografica"
              />
            </div>

            <h2>Datos familiares</h2>
            <div>
              <label for="hijos_menores_25_anos"
                >Número de hijos menores de 25 años</label
              >
              <input
                id="hijos_menores_25_anos"
                name="hijos_menores_25_anos"
                type="number"
                min="0"
                v-model="hijos_menores_25_anos"
              />
            </div>
            <div>
              <label for="hijos_menores_3_anos"
                >De sus hijos, cuántos tienen menos de 3 años</label
              >
              <input
                id="hijos_menores_3_anos"
                name="hijos_menores_3_anos"
                type="number"
                min="0"
                v-model="hijos_menores_3_anos"
              />
            </div>
            <div class="col-12">
              <label class="hijos-exclusiva" for="hijos_en_exclusiva"
                >Tiene los hijos en exclusiva a efectos fiscales</label
              >
              <input
                id="hijos_en_exclusiva"
                name="hijos_en_exclusiva"
                type="checkbox"
                v-model="hijos_en_exclusiva"
              />
            </div>
            <div>
              <label for="ascendente_mayor_65_menor_75"
                >Mayores de 65 años y menores de 75 años a cargo</label
              >
              <input
                id="ascendente_mayor_65_menor_75"
                name="ascendente_mayor_65_menor_75"
                type="number"
                min="0"
                v-model="ascendente_mayor_65_menor_75"
              />
            </div>
            <div>
              <label for="menor_65_con_discapacidad_cargo"
                >Menor de 65 años a cargo con discapacidad</label
              >
              <input
                id="menor_65_con_discapacidad_cargo"
                name="menor_65_con_discapacidad_cargo"
                type="number"
                min="0"
                v-model="menor_65_con_discapacidad_cargo"
              />
            </div>
            <div>
              <label
                class="ascendentes"
                for="numero_personas_deduccion_ascendientes"
                >Contribuyentes que aplican los mínimos por ascendiente</label
              >
              <input
                id="numero_personas_deduccion_ascendientes"
                name="numero_personas_deduccion_ascendientes"
                type="number"
                min="0"
                v-model="numero_personas_deduccion_ascendientes"
              />
            </div>

            <h2>Otros datos del contribuyente</h2>
            <div class="col-12">
              <label class="hijos-exclusiva" for="minusvalia_33_al_65"
                >Grado de discapacidad entre el 33% y el 65%</label
              >
              <input
                id="minusvalia_33_al_65"
                name="minusvalia_33_al_65"
                type="checkbox"
                v-model="minusvalia_33_al_65"
              />
            </div>
            <div class="col-12">
              <label class="hijos-exclusiva" for="minusvalia_sup_al_65"
                >Grado de discapacidad igual o superior al 65% o con movilidad
                reducida</label
              >
              <input
                id="minusvalia_sup_al_65"
                name="minusvalia_sup_al_65"
                type="checkbox"
                v-model="minusvalia_sup_al_65"
              />
            </div>

            <h2>Otros datos de los hijos y de los mayores a cargo</h2>
            <div>
              <label for="descendientes_con_minusvalia_33_al_65"
                >Número de descendientes con grado de discapacidad entre el 33%
                y el 65%</label
              >
              <input
                id="descendientes_con_minusvalia_33_al_65"
                name="descendientes_con_minusvalia_33_al_65"
                type="number"
                min="0"
                v-model="descendientes_con_minusvalia_33_al_65"
              />
            </div>
            <div>
              <label for="ascendientes_con_minusvalia_33_al_65"
                >Número de ascendientes con grado de discapacidad entre el 33% y
                el 65%</label
              >
              <input
                id="ascendientes_con_minusvalia_33_al_65"
                name="ascendientes_con_minusvalia_33_al_65"
                type="number"
                min="0"
                v-model="ascendientes_con_minusvalia_33_al_65"
              />
            </div>
            <div>
              <label for="descendientes_con_minusvalia_sup_al_65"
                >Número de descendientes con grado de discapacidad igual o
                superior al 65%</label
              >
              <input
                id="descendientes_con_minusvalia_sup_al_65"
                name="descendientes_con_minusvalia_sup_al_65"
                type="number"
                min="0"
                v-model="descendientes_con_minusvalia_sup_al_65"
              />
            </div>
            <div>
              <label for="ascendientes_con_minusvalia_sup_al_65">
                Número de ascendientes con grado de discapacidad igual o
                superior al 65%</label
              >
              <input
                id="ascendientes_con_minusvalia_sup_al_65"
                name="ascendientes_con_minusvalia_sup_al_65"
                type="number"
                min="0"
                v-model="ascendientes_con_minusvalia_sup_al_65"
              />
            </div>

            <div v-if="error_flag" class="error" id="error">
              {{error_message}}
            </div>
            <input
              class="btn btn-primary"
              id="calcular_nomina"
              name="calcular"
              value="calcular"
              v-on:click="f_calcular_nomina"
              type="button"
            />

            <footer class="card-footer text-muted" id="footer">
              <h2>Resultados</h2>
              <div><label>Bruto anual:</label> {{bruto_anual}} &euro;</div>
              <div><label>Sueldo neto:</label> {{sueldo_neto}} &euro;</div>
              <div>
                <label>Importe retenciones:</label> {{importe_retencion}} &euro;
              </div>
              <div><label>Tipo de retención:</label> {{tipo_retencion}} %</div>
              <div>
                <label>Seguridad Social:</label> {{seguridad_social}} &euro;
              </div>
              <div v-if="14 == numero_pagas">
                <label>Salario mensual (14 pagas):</label> {{salario_mensual}}
                &euro; <label>Pagas extras:</label> {{pagas_extras}} &euro;
              </div>
              <div v-else>
                <label>Salario mensual (12 pagas):</label>
                {{sueldo_neto_12_pagas}} &euro;
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="calculadora.js"></script>
  </body>
</html>
